@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-button-primary: #0868CE;
  --color-button-primary-hover: #0F83FD;
  --color-background: #081D35;
  --color-background-soft: #0B2C53;
}

/* EasyMDEのスタイル変更 */
.CodeMirror {
  background-color: var(--color-background-soft) !important;
  color: #ffffff !important;
  border: none !important;
}

.CodeMirror-cursor {
  border-left: 1px solid #ffffff !important;
}

/* エディタ内はフォントサイズを変更しない */
.CodeMirror [class*="cm-header"] {
  font-size: inherit !important;
  font-weight: inherit !important;
}

/* Markdownプレビューの背景色 */
.markdown-body {
  background-color: var(--color-background-soft) !important;
}